<section class="gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
        
  <form [formGroup]="registerForm" (ngSubmit) = "onSubmit()" class="form-group">
 
    <h3 class="fw-bold mb-2">Register</h3>
    <p class="text-white-50 mb-5">Fill in details below</p>

    <div class="form-outline form-white mb-4">
        <label class="form-label" for="typeEmailX">User Name</label>
      <input type="text" id="userName" formControlName="username" class="form-control"/>
    </div>

    <div class="form-outline form-white mb-4">
        <label class="form-label" for="typeEmailX">Email</label>
      <input type="email" id="typeEmail" formControlName="email"  class="form-control"  />
    </div>

    <div class="form-outline form-white mb-4">
        <label class="form-label" for="typePasswordX">Password</label>
      <input type="password" id="typePasswordX" formControlName="password" class="form-control"  />
    </div>
    <div class="form-outline form-white mb-4">
        <label class="form-label" for="typePasswordX">Confirm Password</label>
      <input type="password" id="typePasswordY"  class="form-control"   />
      <button class="btn btn-outline-light btn-lg px-5" type="submit" [disabled]= "!registerForm.valid" style="margin-top: 10%;" >Register</button>
    </div>
 
  </form>
  
              
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   

