.commentForm
{
    
    border-top: 1px solid black;
    padding: 5%;
}
.commentBox
{
    background-color: #f0f0ee;
    text-align: left;
    border: 1px solid black;
    margin-bottom: 3%;
   
}
.comment
{
    background-color: white;
    padding: 3%;
    border: 1px solid black;
    box-shadow: 0 0 15px black;
    position: relative;
    margin: 3%;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
}
.like img
{
    width: 25px;
    margin-right: 10px;
}
.like img:hover
{
    opacity: 0.7;
    transform: translateY(-2px);
    
}
.beside{
    display: inline-block;
}
.commentFooter
{
    text-align: center;
}

.reply-section
{
    width: 100%;
    position: relative;
}
.com
{
    width: 50%;
    margin: 0 auto;
}