.formContain
{
    margin-bottom: 2%;
    border: 1px solid white;
    
}
.container
{
    border-top: 1px solid white;
    padding-top: 3%;
    margin-top: 5%;
}
.icon
{
    width: 15%;
    margin-right: 5%;
}

.img-profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .create-post-area {
    background-color: #f6f7f8;
    border-radius: 4px;
    border: 1px solid #EDEFF1;
    box-shadow: none;
    box-sizing: border-box;
    color: #EDEFF1;
    display: block;
    flex-grow: 1;
    height: 50px;
    outline: none;
  }


.addPost
{
  width: 80%;
  margin: 0 auto;

}

.modal-contentb {
    position: relative;
  
    margin: 15% auto; /* 15% from the top and centered */
  
     background-color: white;
    border: 2px solid black;
    width: 50%; /* Could be more or less, depending on screen size */
    box-shadow: 0 0 15px var(--clr-darkShade);
  }
  