.like img
{
    width: 25px;
    margin-right: 10px;
}
.like img:hover
{
    opacity: 0.7;
    transform: translateY(-2px);
    
}

.post
{
    border: 1px solid white;
    padding: 2% 7%;
  
    margin-bottom: 1%;
    position: relative;
    color: white;
    
}
.postHeader{
    text-align: left;
}
.postFooter{
    padding: 0 30%;
}
.postImage
{
    width: 40%;
    border: 1px solid black;
    margin-bottom: 5%;
}
.beside{
    display: inline-block;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
}

.postBody
{
   
    background-color: white;
    box-shadow: 0 0 25px black;
    padding: 2%;
}

.bi-chat-left-text-fill{
    padding: 0.2rem;
    font-size: 1.5rem;
 
}